<h1>Users</h1>

<table cellpadding = "5">
  <thead>
    <tr>
      <th align="center">image</th>
      <th>name</th>
      <th colspan ="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.get_profile_image %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", book_path(user.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
