<!--Users#show-->

<!--左上の-->
<h2>User info</h2>
<div>
  <%= image_tag @user.get_profile_image %>
  <table class="tables">
    <tbody>
      <tr>
        <th class="p-3">name</th><td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="p-3">introduction</th><td><%= @user.introduction %></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <% if @user == current_user %>
        <a class="btn btn-outline-secondary btn-block ml-3 px-5" href="/users/:id/edit"><i class="fas fa-user-cog"></i></a>
      <!--edit_user_path(@user)-->
    <% end %>
  </div>
</div>
